In [1]:
import pandas as pd

In [2]:
SOURCE_PATH = "/Users/arielamishaancohen/Downloads/asl-fingerspelling/supplemental_landmarks/86446671.parquet"
df = pd.read_parquet(SOURCE_PATH)

In [4]:
df.reset_index().head()

,sequence_id,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
0,731203706,0,0.703698,0.688928,0.695702,0.679743,0.687841,0.689391,0.695388,0.609348,...,-0.089671,-0.080566,-0.043455,-0.095483,-0.084067,-0.060941,-0.052851,-0.087094,-0.075263,-0.054956
1,731203706,1,0.715093,0.699307,0.705917,0.691370,0.698360,0.700104,0.706936,0.622183,...,-0.077541,-0.070044,-0.025600,-0.081992,-0.077576,-0.053929,-0.039335,-0.071657,-0.060017,-0.036933
2,731203706,2,0.717082,0.707563,0.713474,0.698543,0.706523,0.707614,0.712466,0.623232,...,-0.092923,-0.090480,-0.022318,-0.080716,-0.084622,-0.066322,-0.034716,-0.062594,-0.060636,-0.047767
3,731203706,3,0.719097,0.711470,0.717952,0.703294,0.710563,0.712090,0.718152,0.626309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,731203706,4,0.726000,0.713415,0.720095,0.706134,0.712599,0.714675,0.722513,0.633579,...,-0.023693,-0.027201,-0.007065,-0.016289,-0.007165,0.000971,-0.010739,-0.015896,-0.005026,0.005931